**/out/**
**/temp/**
**/tmp/**
build_dita2translate.xml

**/test/add-translations1/translate.xlf
**/test/approved-translations1/test.properties
**/test/add-translations2/translate.xlf
**/test/approved-translations2/test.properties

.scannerwork/

target/
classes/
lib/ant-*.jar
lib/ant-launcher-*.jar

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

