<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
	This file is part of the DITA-OT Translate Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.translate.xliff" version="3.0.0">

  <feature extension="dita.conductor.lib.import" file="lib/translate-1.0.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/json-simple-1.1.1.jar"/>

  <transtype name="xliff-create" desc=" XML Localization Interchange File Format (XLIFF)">
    <param name="translate.from" type="string"/>
    <param name="translate.to" type="string"/>
    <param name="translate.cachefile" type="file"/>
    <param name="xliff.version" type="enum">
      <val>1</val>
      <val default="true" >2</val>
    </param>
  </transtype>


  <transtype name="xliff-translate" desc="Auto-translate an XLIFF File using an online service">
  	<param name="translate.service" desc="Specifies the auto-translate service." type="enum">
      <val>bing</val>
      <val>custom</val>
      <val>deepl</val>
      <val default="true" >dummy</val>
      <val>watson</val>
      <val>yandex</val>
    </param>
    <param name="translate.authentication.url" type="string"/>
    <param name="translate.output.format" type="string"/>
    <param name="translate.apikey" type="string"/>
    <param name="translate.url" type="string"/>
    <param name="translate.from" type="string"/>
    <param name="translate.to" type="string"/>
    <param name="xliff.version" type="enum">
      <val>1</val>
      <val default="true" >2</val>
    </param>
  </transtype>


  <transtype name="xliff-dita" desc="Supply translated text into DITA skeleton files using an XLIFF File">
    <param name="translate.from" type="string"/>
    <param name="translate.to" type="string"/>
    <param name="xliff.version" type="enum">
      <val>1</val>
      <val default="true" >2</val>
    </param>
  </transtype>


  <!--
    This plugin requires the XMLTask lib
  -->
  <require plugin="org.doctales.xmltask"/>

  <!-- Import the translate transform's ANT file -->
  <feature extension="ant.import" file="build_dita2translate.xml"/>
  <!-- Ensure the plugin's error and logging messages are available -->
  <feature extension="dita.xsl.messages" file="resource/messages.xml"/>
  <!-- Add a template file to enable overrides to use extension points -->
  <template file="build_dita2translate_template.xml"/>

</plugin>
